h1{
    text-align: center;
    margin-top: 100px;
    background-color: violet;
    
}
h3{
    text-align: center;
    margin-top: 50px;
}
div{
    display: flex;
    justify-content: center;

}
button{
    padding: 10px 50px;
    margin: 5px;
    background-color: black;
    color: white;
    
}