
header{
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../css/IMAGES/backgroung.jpg);
        height: 130vh;
        background-size: cover;
        background-position: center;
 }