*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(backgroung2.jpg);
    height: 130vh;
    background-size: cover;
    background-position: center;
}


ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;

}

ul li {
    display: inline;
    color:white;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: 0.6s ease;

}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1500px;
    margin: auto;

}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.title h1{
    color: white;
    font-size: 70px;
}

.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}

.Contact{
    position: relative;
    min-height: 50vh;
    padding: 50px 50px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    background-size: cover;
    color: royalblue;
    top: 10px;
}

form{
    float: right;
    color: white;
}
h2 {
    
  position: relative;
  left: 1050px;
  top: 150px;
}

h3{
    color: red;
}
fieldset{
    background-color:black;
    position: relative;
    right: 50px;
    top: 150px;
}
iframe{
    width: 30%;
    height: 200px;
}
